################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AzureEventGridEventHandler/v15/Server/sqlite3/storage.ide-wal
/.vs/AzureEventGridEventHandler/v15/Server/sqlite3/storage.ide-shm
/.vs/AzureEventGridEventHandler/v15/Server/sqlite3/storage.ide
/.vs/AzureEventGridEventHandler/v15/Server/sqlite3/db.lock
/.vs/AzureEventGridEventHandler/v15/Server/sqlite3
/EventGridEventTrigger.Library/obj
/EventGridEventTrigger.DotNetFrameworkAPIApp/bin
/EventGridEventTrigger.DotNetCoreAPIApp/obj
/EventGridEventTrigger.EventPublisher/Properties
/EventGridEventTrigger.EventPublisher/obj/Debug
/EventGridEventTrigger.EventPublisher/bin/Debug
/EventGridEventTrigger.Library/bin/Debug/netstandard2.0
/EventGridEventTrigger.DotNetCoreAPIApp/bin/Debug/netcoreapp2.0
/.vs
/EventGridEventTrigger.EventPublisher/obj/Release
/packages
/EventGridEventTrigger.DotNetFrameworkAPIApp/obj
/EventGridEventTrigger.DotNetCoreAPIApp/bin/Debug/netcoreapp2.1
